<div class="top">

  <% unless session[:user] %>
  <a href="/signin">Login</a> <a href="/signup">Signup</a> <br>
  <h1>Welcome to rhe bulletin board</h1>
  <% else %>
  <a class="tiisame" href="/signout">Log out</a>
  <h2>Hello,<%= User.find(session[:user]).mail %></h2>
  <div class="senter">
    <form action="/new" name="toukou" method="post" enctype="multipart/form-data" class="form">
      <div class="input1">
        <h3>Name<span class="asterisk">*</span></h3>
        <input type="text" name="user_name" class="moziutikomi">
        <h3>Body<span class="asterisk" class="bunnutikomi">*</span></h3>
        <textarea name="body" cols="30" rows="3" maxlength="100" wrap="hard"></textarea>
        <label for="file_photo">
          <a class="button btnblue">Choose photo
            <input type="file" id="file_photo" style="display:none;" name="file"></a>
        </label>
        <br>
        <%# <input t

        ype="submit"  value="投稿" style="background: #fff; font-size: 20px; border: none;" calss="btn btn-prmary"> %>



        <div class="container">
        <button type="submit"  class="btn btn-inside btn-boarder">
          <img src="https://i.cloudup.com/gBzAn-oW_S-2000x2000.png" width="64px" height="64px" id="plane">
          </button>
            <div class="bg"><img src="https://i.cloudup.com/2ZAX3hVsBE-3000x3000.png" id="bg" width="32px" height="32px" style="opacity:0;"></div>
            <div class="around around-boarder" onclick="ani(); anitwo();"></div>
        </div>

<%#
     <input type="submit" value="Post" class="button btnpink">


        <div class="container">
            <button class="btn btn-inside btn-boarder"><img src="https://i.cloudup.com/gBzAn-oW_S-2000x2000.png" width="64px" height="64px" id="plane"></button>
            <div class="bg"><img src="https://i.cloudup.com/2ZAX3hVsBE-3000x3000.png" id="bg" width="32px" height="32px" style="opacity:0;"></div>
            <div class="around around-boarder" onclick="ani(); anitwo();"></div>
        </div> %>

    </form>
  </div>
</div>
</div>
  <div class="img_contribution">
      <% @contents.each do |content| %>

        <div class="box9">

          <% unless content.img.empty? %>
            <div class="waku"><img class="photo" src="<%=  content.img %>"></div>
              <p><%= content.name %></p>
              <p><%= content.body %></p>
          <% end %>

           <div class="yoko">

              <form name="yoki" action="/good/<%= content.id %>" method="post">
                  <button type="submit" class="square_btn square_btn1"><%= content.good %> <i class="fas fa-thumbs-up"></i></button>
                  <%# <span class="maru size_normal red1"></span> %>
              </form>


              <form name="dame" action="/bad/<%= content.id %>" method="post">
                <button type="submit" class="square_btn square_btn2"><%= content.bad %> <i class="fas fa-thumbs-down"></i></button>
                <%# <span class="maru size_normal blue2"></span> %>
              </form>

              <form name=hennshyuu action="/edit/<%= content.id %>" method="post">
                <button type="submit" class="square_btn square_btn3"><i class="fas fa-pencil-alt"></i></button>
              </form>

              <span>
                <form action="/delete/<%= content.id %>" method="post">
                  <button type="submit" class="square_btn btn-danger ">
                    <i class="far fa-trash-alt"></i>
                  </button>
                </form>
              </span>

            </div>
           </div>
      <% end %>

  <% end %>


  <h5 class="pagetop" style="disply: block;"><span href="top">Top</span></h5>
